@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/Catan.css" asp-append-version="true" />
</head>

<body>

    <div class="board">
        @foreach (var tile in Model.tiles)
        {
            <div class="hexagon-wrapper"  style="left:@(tile.AxialToPixel(Model._layout).y +"px");top:@(tile.AxialToPixel(Model._layout).x +"px");">
              <div class="hexagon" style="background:linear-gradient(-180deg, white, @(tile.GetColor()));">
              </div>  
             </div>
        }
    </div>


</body>

